.highlight {
  position: relative;
  z-index: 1;
}

.highlight::before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: -0.25em;
  right: -0.25em;
  background-color: rgb(147 197 253 / 0.3);
  transform-origin: center right;
  transform: scaleX(0);
  transition: transform 0.2s ease-in-out;
  border-radius: 0.5rem;
}

.highlight:hover::before {
  transform: scaleX(1);
  transform-origin: center left;
}
